body{
	text-align:center;
}

button{
	margin:10px;
	font-size:250%;
}

#wrapper{
	width:800px;
	height:400px;
	margin:0 auto;
}

#user{
	background-color:white;
	width:50%;
	height:100%;
	float:left;
}

#comp{
	background-color:white;
	width:50%;
	height:100%;
	float:left;
}

img{
	width:380px;
	height:100%;
}




